{% extends 'base.html' %}
{% load static %}
{% block title %}
Contact
{% endblock %}
{% block content %}

<div class="row">
<div class="column">
<h1> Get in touch with us</h1>
<p>
  We are committed to providing the best possible experience for our clients. 
  If you have any questions or concerns regarding our products or services, please do not hesitate to contact us. 
  Our team of experts is available to answer your queries and provide you with the solutions you need to stay safe online. 
  You may contact us via phone or email, or use the contact form provided below. 
  We appreciate your interest in our company and look forward to hearing from you.
</p>
</div>
    <div class="column">
      <form  method="post" name="New Form" action="{% url 'contact' %}">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="390667"/>
        <input type="hidden" name="form_id" value="d672e2d"/>
        <input type="hidden" name="referer_title" value="Contact" />
        <input type="hidden" name="queried_id" value="390667"/>
        <label for="form-field-name">Name</label>
        <input size="1" type="text" name="form_fields[name]" id="form-field-name">
        <label for="form-field-email">Email</label>
        <input size="1" type="email" name="form_fields[email]" id="form-field-email"  required="required" aria-required="true">
        <label for="form-field-field_ff1b58b">Subject</label>
        <input size="1" type="text" name="form_fields[field_ff1b58b]" id="form-field-field_ff1b58b">
        <label for="form-field-message">Message</label>
        <textarea name="form_fields[message]" id="form-field-message" rows="4"></textarea>
        <button type="submit"><span>Send Message</span></button>
      </form>
    </div>
  </div>   
    


  {% endblock %}